@model  SteeltoeUnityIoC.Models.ServicesViewModel

@{
    ViewBag.Title = "Resolve Services from DI container";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<div>
    @{
        foreach (var srv in Model.Services.AsEnumerable())
        {
            <div class="row">
                <strong>@srv.Key</strong><span>@srv.Value</span>
            </div>
        }
    }
</div>
